<div class="home-main-chat-container">
  <div class="home-main-chat-header">
    <i class="fa fa-home fa-fw"></i>&nbsp;&nbsp;ホーム
  </div>
  <div class="tweets">
    <%= render partial: 'tweet', collection: @tweets %>
  </div>
</div>