<div class="follow-lists">
  <div class="follow-container">
    <div class="follow-list-title">
      <%= "#{@user.nickname}:フォロー中" %>
      <hr>
    </div>
    <div class="follow-list">
      <% @followings.where.not(id: current_user.id).each do |following| %>
        <%= render partial: "list", locals: { user: following } %>
      <% end %>
    </div>
  </div>
</div>