<div class="left-bar-container">
  <div class="left-bar-upper">
     <div class="left-bar-home">
      <%= link_to root_path do %>
        <i class="fa fa-home"></i>ホーム
      <% end %>
    </div>
    <div class="left-bar-profile">
      <%= link_to user_path(current_user.id) do %>
        <i class="fa fa-user"></i>プロフィール
      <% end %>
    </div>
    <div class="groups">
      <% if user_signed_in? %>
        <% current_user.groups.each do |group| %>
          <div class="group">
            <div class="group-name">
              <%= link_to group.name, group_tweets_path(group), class: 'group-name' %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>