<div class="main-header">
  <div class="left-header">
    現在のグループ：<%= @group.name %>
  </div>
  <div class="right-header">
    <div class="header-post">
      <%= link_to '投稿する', new_group_tweet_path %>
    </div>
    <div class="header-button">
      <%= link_to 'グループを退会する', quit_group_path(@group), method: :delete %>
    </div>
  </div>
</div>
<div class="tweets">
  <%= render partial: 'tweet', collection: @tweets %>
</div>