<div class="main-header">
  <div class="left-header">
    <a href="#" class="group-title">group1</a>
  </div>
  <div class="right-header">
    <div class="header-post">
      <%= link_to '投稿する', new_group_tweet_path %>
    </div>
    <div class="header-button">
      <a href="#">グループを退出する</a>
    </div>
  </div>
</div>
<div class="tweets">
  <div class="tweet">
    <div class="upper-tweet">
      <div class="tweet-user">
        Tom
      </div>
      <div class="tweet-date">
        2020/3/31(Wed) 12:43:30
      </div>
    </div>
    <div class="lower-tweet">
      <div class="tweet-content">
        おはよう
      </div>
    </div>
  </div>

  <div class="tweet">
    <div class="upper-tweet">
      <div class="tweet-user">
        Tom
      </div>
      <div class="tweet-date">
        2020/3/31(Wed) 12:47:30
      </div>
    </div>
    <div class="lower-tweet">
      <div class="tweet-content">
        こんばんは
      </div>
    </div>
  </div>
</div>