<div class="main-chat-container">
  <div class="main-chat-header">
    <div class="main-chat-header-upper">
      <div class="main-chat-header-upper-left">
        <%= link_to @group.name, group_path(@group.id) %>
      </div>
      <div class="main-chat-header-upper-right"></div>
    </div>
    <div class="main-chat-header-lower">
      <div class="main-chat-header-lower-left">
        <%= link_to new_group_tweet_path do %>
          <i class="fa fa-pen-alt fa-fw"></i>&nbsp;&nbsp;ツイート
        <% end %>
      </div>
      <div id="group-quit-open">
        <i class="fa fa-user-slash fa-fw"></i>&nbsp;&nbsp;退会する
      </div>
      <div id="group-quit-modal">
        本当にこのグループを退会しますか？
      </div>
    </div>
  </div>
  <div class="tweets">
    <%= render partial: 'tweet', collection: @tweets %>
  </div>
</div>