<div class="group-list">
  <a href="#">グループ一覧</a>
</div>
<div class="making-group">
  <%= link_to 'グループ作成', new_group_path %>
</div>
<div class="groups">
  <div class="group">
    <div class="group-name">
      <a href="#">group1</a>
    </div>
  </div>
  <div class="group">
    <div class="group-name">
      <a href="#">group2</a>
    </div>
  </div>
  <div class="group">
    <div class="group-name">
      <a href="#">group3</a>
    </div>
  </div>
</div>