<div class="group-list">
  <%= link_to 'グループ一覧', groups_path %>
</div>
<div class="making-group">
  <%= link_to 'グループ作成', new_group_path %>
</div>
<div class="groups">
  <% if user_signed_in? %>
    <% current_user.groups.each do |group| %>
      <div class="group">
        <div class="group-name">
          <%= group.name%>
        </div>
      </div>
    <% end %>
  <% end %>
</div>