<div class="wrapper">
  <div class="left-bar">
    <%= render "left_bar" %>
  </div>
  <div class="chat">
    <%= render "main_chat" %>
  </div>
  <div class="right-bar">
    <%= render "right_bar"%>
  </div>
</div>