<div class="tweet-form">
  <%= form_with model: [@group, @tweet], local: true do |f| %>
    <div class="tweet-form-container">
      <div class="tweet-form-wrapper">
        <div class="tweet-form-upper">
          <%= f.text_area :content, class: "tweet-form-upper-input", placeholder: '何を伝える？', autofocus: true %>
        </div>
        <div id="image-list"></div>
        <div class="tweet-form-lower">
          <label class="tweet-form-lower-left">
            <div class="tweet-form-lower-left-icon">
              <span class="camera-icon"><i class="fa fa-camera-retro fa-fw"></i></span>
              <%= f.file_field :image, class: 'hidden' %>
            </div>
          </label>
          <div class="tweet-form-right">
            <div class="tweet-form-submit">
              <%= f.submit 'ツイート', class: "tweet-form-submit-btn" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>