<div class="wrapper">
  <div class="left-bar">
    <%= render "/tweets/left_bar" %>
  </div>
  <div class="main">
    <div class="likes-list-main">
      <% @users.each do |user| %>
        <%= render partial: "/groups/member_list", locals: { user: user } %>
      <% end %>
    </div>
  </div>
  <div class="right-bar">
    <%= render "/tweets/right_bar" %>
  </div>
</div>