<div class="group-form">
  <%=form_with model: @group, local: true do |f|%>
    <div class="group-form-container">
      <div class="group-form-wrapper">
        <div class="group-form-upper">
          <div class="group-name-edit">
            <%= @group.name %>
          </div>
        </div>
        <div class="group-form-upper">
          <%= f.text_area :content, class:"group-content-form-upper-input group-content-input-text", placeholder:"どんなグループ？", autofocus: true %>
        </div>
        <div class="group-content-input-count"></div>
        <div class="group-form-lower">
          <div class="group-form-lower-left"></div>
          <div class="group-form-lower-right">
            <%= f.submit 'グループを編集する', class: "group-form-submit-btn" %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>