<div class="wrapper">
  <div class="left-bar">
    <%= render "/tweets/left_bar" %>
  </div>
  <div class="main">
    <div class="group-list">
      <div class="group-list-header">
        <div class="group-list-header-upper">
          <i class="fa fa-eye fa-fw"></i>&nbsp;&nbsp;グループを見る
        </div>
        <div class="group-list-header-lower">
          <div class="group-list-header-group-search">
            <%= form_with(url: search_groups_path, local: true, method: :get, class: "group-list-header-group-search-form") do |f| %>
              <%= f.text_field :keyword, placeholder: "グループ検索", class: "group-list-header-group-search-input" %>
              <label class="group-list-header-group-search-btn">
                <i class="fa fa-search"></i>
                <%= f.submit class: "hidden" %>
              </label>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="right-bar">
  </div>
</div>