<div class="group-form">
  <%=form_with model: @group, local: true do |f|%>
    <div class="group-form-container">
      <div class="group-form-wrapper">
        <div class="group-form-upper">
          <%= f.text_area :name, class:"group-name-form-upper-input group-name-input-text", placeholder:"グループの名前は？", autofocus: true %>
        </div>
        <div class="group-name-input-count"></div>
        <div class="group-form-upper">
          <%= f.text_area :content, class:"group-content-form-upper-input", placeholder:"どんなグループ？" %>
        </div>
        <div class="group-form-lower">
          <div class="group-form-lower-left"></div>
          <div class="group-form-lower-right">
            <%= f.submit 'グループを作る', class: "group-form-submit-btn" %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>