<div class="wrapper">
  <div class="left-bar">
    <%= render "/tweets/left_bar" %>
  </div>
  <div class="main">
    ユーザー検索ページ
  </div>
  <div class="right-bar">
    <%= render "/tweets/right_bar" %>
  </div>
</div>