h1 {
  letter-spacing: 2px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

h2 {
  margin-bottom: 10px;
  color: #f05050;
  font-size: 14px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  margin: 0;
  padding: 0;
  font-size: 13px;
}

.chat-group-form {
  width: 980px;
  margin: 60px auto;
  padding: 40px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
}
.chat-group-form__errors {
  margin: 30px 0;
  padding: 20px 40px;
  border: 1px solid #ddd;
  border-radius: 2px;
  text-align: center;
}
.chat-group-form__label {
  display: block;
  line-height: 50px;
  font-weight: bold;
  text-align: right;
}
.chat-group-form__input {
  float: left;
  width: 80%;
  line-height: 30px;
  padding: 10px 15px;
  box-sizing: border-box;
}
.chat-group-form__action-btn {
  display: inline-block;
  padding: 12px 20px;
  color: #fff;
  background-color: #2F3E51;
  border: 0;
}
.chat-group-form__field {
  margin-top: 30px;
}
.chat-group-form__field:after {
  content: "";
  clear: both;
  display: block;
}
.chat-group-form__field--left {
  float: left;
  width: 30%;
  padding-right: 20px;
  padding-left: 20px;
  box-sizing: border-box;
}
.chat-group-form__field--right {
  float: right;
  width: 70%;
}

.chat-group-user {
  padding: 0 15px;
  line-height: 50px;
  font-size: 14px;
  border-bottom: 1px solid #ddd;
  width: 500px;
  margin: 0 auto;
}
.chat-group-user:after {
  content: "";
  clear: both;
  display: block;
}
.chat-group-user__name {
  float: left;
}
.chat-group-user__btn {
  float: right;
  display: inline-block;
  cursor: pointer;
}
.chat-group-user__btn--add {
  color: #2F3E51;
}
.chat-group-user__btn--remove {
  color: #f05050;
}

.chat-group-user__name a {
  text-decoration: none;
  color: #38aef0;
}

select {
  width: 500px;
  height: 50px;
}

.top-header {
  background-color: #434a54;
  height: 80px;
  width: 100%;
}

.field_with_errors {
  display: contents;
}

.group-list-header {
  height: 100px;
  background-color: #FAFAFA;
  border-bottom: 5px solid #DDDDDD;
  padding: 0 20px;
}

.group-list-header-upper {
  height: 40px;
  font-size: 20px;
  font-weight: bold;
  line-height: 40px;
}

.group-list-header-lower {
  text-align: center;
}

.group-list-header-group-search-input {
  padding:10px 20px;
  background-color: #EEEEEE;
  border-radius: 20px;
  border: 1px solid #EEEEEE;
  margin-right: 5px;
  width: 400px;
}

.group-list-header-group-search-input:hover {
  background-color: white;
  border: 1px solid #253141;
}

.group-list-header-group-search-btn {
  padding: 15px 30px;
  background-color: #EEEEEE;
  border-radius: 100px;
  color: #999;
  border: 1px solid #EEEEEE;
}

.group-list-header-group-search-btn:hover {
  color: white;
  background-color:#253141;
}

.group-list-main {
  background-color: white;
  height: calc(100vh - 150px);
  overflow: scroll;
}

.group-list-main-container a {
  text-decoration: none;
  color: black;
}

.group-list-main-container {
  margin-top: 10px;
}

.group-list-main-upper,
.group-list-main-center,
.group-list-main-lower {
  padding: 0 10px;
}

.group-list-main-upper,
.group-list-main-lower,
.group-list-main-lower-left {
  display: flex;
  justify-content: space-between;
}

.group-list-main-no-participation a,
.group-list-main-participation a {
  display: inline-block;
  font-size: smaller;
  padding: 5px 20px;
  border-radius: 20px;
  border: 1px solid #253141;
}

.group-list-main-no-participation a {
  color: #253141;
  font-weight: bold;
}

.group-list-main-no-participation a:hover {
  background-color: #EEEEEE;
}

.group-list-main-participation a {
  color: white;
  background-color: #253141;
}

.group-list-main-participation a:hover {
  background-color: #526f94;
  border: 1px solid #526f94;
}

.group-list-main-users-member,
.group-list-main-group-birthday,
.group-list-main-lower-left {
  color: #999;
}

.group-list-main-group-name {
  font-weight: bold;
}

.group-list-main-group-content {
  font-size: smaller;
}

.group-list-main-center:hover {
  text-decoration: underline;
}

.group-list-main-lower {
  padding-bottom: 10px;
  border-bottom: 1px solid #DDDDDD;
}

.group-list-main-lower-left:hover {
  color: black;
}

.group-list-right-bar-container {
  background-color: #EEEEEE;
  margin: 30px 30px 0 30px;
  border-radius: 20px;
  width: 270px;
}

.group-list-right-bar-title {
  text-align: center;
  font-weight: bold;
  padding: 10px 50px;
}

.group-list-right-bar-groups {
  height: calc(100vh - 135px);
  padding: 0 15px;
  overflow: scroll;
}

.group-list-right-bar-groups a {
  text-decoration: none;
  color: black;
  font-size: 15px;
  display: inline-block;
  padding: 5px;
  margin: 10px 0;
  border-radius: 20px;
}

.group-show-header {
  height: 150px;
  background-color: #FAFAFA;
  border-bottom: 5px solid #DDDDDD;
  padding: 10px 20px;
}

.group-show-header-container a {
  text-decoration: none;
  color: black;
}

.group-show-header-upper,
.group-show-header-lower,
.group-show-header-lower-left {
  display: flex;
  justify-content: space-between;
}

.group-show-header-upper-center {
  display: flex;
}

.group-show-header-upper-center a {
  display: inline-block;
  font-size: smaller;
  padding: 5px 20px;
  border-radius: 20px;
}

.group-show-header-upper-center-edit a {
  margin-right: 10px;
  color: darkgreen;
  border: 1px solid darkgreen;
}

.group-show-header-upper-center-edit a:hover {
  color: white;
  background-color: darkgreen;
  border: 1px solid darkgreen;
}

.group-show-header-upper-center-delete a {
  color: darkred;
  border: 1px solid darkred;
}

.group-show-header-upper-center-delete a:hover {
  color: white;
  background-color: darkred;
  border: 1px solid darkred;
}

.group-show-header-no-participation a,
.group-show-header-participation a {
  display: inline-block;
  font-size: smaller;
  padding: 5px 20px;
  border-radius: 20px;
  border: 1px solid #253141;
}

.group-show-header-no-participation a {
  color: #253141;
  font-weight: bold;
}

.group-show-header-no-participation a:hover {
  background-color: #EEEEEE;
}

.group-show-header-participation a {
  color: white;
  background-color: #253141;
}

.group-show-header-participation a:hover {
  background-color: #526f94;
  border: 1px solid #526f94;
}

.group-show-header-users-member,
.group-show-header-group-birthday,
.group-show-header-lower-left {
  color: #999;
}

.group-show-header-group-name {
  font-weight: bold;
  font-size: larger;
}

.group-show-header-group-content {
  height: 50px;
  overflow: scroll;
}

.group-show-header-lower-left:hover {
  color: black;
}

.group-show-main {
  height: calc(100vh - 200px);
  overflow: scroll;
}
