.group-form {
  width: 750px;
  margin: 50px auto 0;
  height: calc(100vh - 50px);
  overflow: scroll;
  background-color: #FAFAFA;
  padding-bottom: 15px;
}

.group-form-container {
  padding: 0 100px;
}

.group-form-wrapper {
  margin-top: 30px;
  padding: 10px;
  border: 1px solid #253141;
  border-radius: 20px;
  background-color: white;
}

.group-name-form-upper-input {
  width: 100%;
  height: 55px;
  padding: 5px;
  border: none;
  border-bottom: 1px solid #999;
}

.group-name-input-count,
.group-content-input-count {
  height: 30px;
  text-align: right;
}

.group-content-form-upper-input {
  width: 100%;
  height: 180px;
  padding: 5px;
  border: none;
}

.group-form-lower {
  display: flex;
  justify-content: space-between;
}

.group-form-submit-btn {
  border: 1px solid #253141;
  background-color: #253141;
  padding: 5px 15px;
  border-radius: 20px;
  font-size: large;
  color: white;
}

.group-form-submit-btn:hover {
  cursor: pointer;
  background-color: #526f94;
  border: 1px solid #526f94;
}

.group-name-edit {
  font-weight: bold;
  font-size: larger;
  margin-bottom: 10px;
}

.group-list-header {
  height: 100px;
  background-color: #FAFAFA;
  border-bottom: 5px solid #DDDDDD;
  padding: 0 20px;
}

.group-list-header-upper {
  height: 40px;
  font-size: 20px;
  font-weight: bold;
  line-height: 40px;
}

.group-list-header-lower {
  text-align: center;
}

.group-list-header-group-search-input {
  padding:10px 20px;
  background-color: #EEEEEE;
  border-radius: 20px;
  border: 1px solid #EEEEEE;
  margin-right: 5px;
  width: 400px;
}

.group-list-header-group-search-input:hover {
  background-color: white;
  border: 1px solid #253141;
}

.group-list-header-group-search-btn {
  padding: 15px 30px;
  background-color: #EEEEEE;
  border-radius: 100px;
  color: #999;
  border: 1px solid #EEEEEE;
}

.group-list-header-group-search-btn:hover {
  color: white;
  background-color:#253141;
}

.group-list-main {
  background-color: white;
  height: calc(100vh - 150px);
  overflow: scroll;
}

.group-list-main-container a {
  text-decoration: none;
  color: black;
}

.group-list-main-container {
  margin-top: 10px;
}

.group-list-main-upper,
.group-list-main-center,
.group-list-main-lower {
  padding: 0 10px;
}

.group-list-main-upper,
.group-list-main-lower,
.group-list-main-lower-left {
  display: flex;
  justify-content: space-between;
}

.group-list-main-no-participation a,
.group-list-main-participation a {
  display: inline-block;
  font-size: smaller;
  padding: 5px 20px;
  border-radius: 20px;
  border: 1px solid #253141;
}

.group-list-main-no-participation a {
  color: #253141;
  font-weight: bold;
}

.group-list-main-no-participation a:hover {
  background-color: #EEEEEE;
}

.group-list-main-participation a {
  color: white;
  background-color: #253141;
}

.group-list-main-participation a:hover {
  background-color: #526f94;
  border: 1px solid #526f94;
}

.group-list-main-users-member a,
.group-list-main-group-birthday,
.group-list-main-lower-left {
  color: #999;
}

.group-list-main-users-member a:hover {
  text-decoration: underline;
}

.group-list-main-group-name {
  font-weight: bold;
}

.group-list-main-group-content {
  font-size: smaller;
}

.group-list-main-center:hover {
  text-decoration: underline;
}

.group-list-main-lower {
  padding-bottom: 10px;
  border-bottom: 1px solid #DDDDDD;
}

.group-list-main-lower-left:hover {
  color: black;
}

.group-list-right-bar-container {
  background-color: #EEEEEE;
  margin: 30px 30px 0 30px;
  border-radius: 20px;
  width: 270px;
}

.group-list-right-bar-title {
  text-align: center;
  font-weight: bold;
  padding: 10px 50px;
}

.group-list-right-bar-groups {
  height: calc(100vh - 135px);
  padding: 0 15px;
  overflow: scroll;
}

.group-list-right-bar-groups a {
  text-decoration: none;
  color: black;
  font-size: 15px;
  display: inline-block;
  padding: 5px;
  margin: 10px 0;
  border-radius: 20px;
}

.group-list-right-bar-groups a:hover {
  color: white;
  background-color:#253141;
}

.group-show-main {
  height: calc(100vh - 50px);
  overflow: scroll;
}

.group-show-header {
  background-color: #FAFAFA;
  border-bottom: 5px solid #DDDDDD;
  padding: 10px 20px;
}

.group-show-header-container a {
  text-decoration: none;
  color: black;
}

.group-show-header-upper,
.group-show-header-lower,
.group-show-header-lower-left {
  display: flex;
  justify-content: space-between;
}

.group-show-header-upper-center {
  display: flex;
}

.group-show-header-upper-center a {
  display: inline-block;
  font-size: smaller;
  padding: 5px 20px;
  border-radius: 20px;
}

.group-show-header-upper-center-edit a {
  margin-right: 10px;
  color: darkgreen;
  border: 1px solid darkgreen;
}

.group-show-header-upper-center-edit a:hover {
  color: white;
  background-color: darkgreen;
  border: 1px solid darkgreen;
}

#group-delete-open {
  font-size: smaller;
  padding: 5px 20px;
  border-radius: 20px;
  color: darkred;
  border: 1px solid darkred;
  position: relative;
}

#group-delete-open:hover {
  color: white;
  background-color: darkred;
  border: 1px solid darkred;
  cursor: pointer;
}

#group-delete-modal {
  display: none;
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-color: rgb(128, 128, 128, 0.5);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.group-delete-confirmation {
  width: 400px;
  height: 200px;
  background-color: white;
  border-radius: 20px;
  text-align: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.group-delete-sentence {
  padding: 50px 0;
  font-weight: bold;
}

.group-delete-btn {
  display: flex;
  justify-content: space-around;
}

#group-delete-btn-cancel {
  font-size: smaller;
  padding: 5px 20px;
  border-radius: 20px;
  color:#253141;
  border: 1px solid #253141;
}

#group-delete-btn-cancel:hover {
  color: white;
  background-color: #253141;
  border: 1px solid #253141;
  cursor: pointer;
}

.group-delete-btn-action a {
  text-decoration: none;
  font-size: smaller;
  padding: 5px 20px;
  border-radius: 20px;
  color: darkred;
  border: 1px solid darkred;
}

.group-delete-btn-action a:hover {
  color: white;
  background-color: darkred;
  border: 1px solid darkred;
}

#group-show-header-upper-responsive {
  font-size: larger;
  font-weight: bold;
  padding: 0 20px;
}

.group-show-header-no-participation a,
.group-show-header-participation a {
  display: inline-block;
  font-size: smaller;
  padding: 5px 20px;
  border-radius: 20px;
  border: 1px solid #253141;
}

.group-show-header-no-participation a {
  color: #253141;
  font-weight: bold;
}

.group-show-header-no-participation a:hover {
  background-color: #EEEEEE;
}

.group-show-header-participation a {
  color: white;
  background-color: #253141;
}

.group-show-header-participation a:hover {
  background-color: #526f94;
  border: 1px solid #526f94;
}

.group-show-header-users-member a,
.group-show-header-group-birthday,
.group-show-header-lower-left {
  color: #999;
}

.group-show-header-users-member a:hover{
  text-decoration: underline;
}

.group-show-header-group-name {
  font-weight: bold;
  font-size: larger;
}

.group-show-header-lower-left:hover {
  color: black;
}

.group-member-header {
  height: 100px;
  font-size: 20px;
  font-weight: bold;
  background-color: #FAFAFA;
  border-bottom: 5px solid #DDDDDD;
  padding: 0 20px;
  display: flex;
  align-items: center;
}

.group-member-header-left a {
  color: black;
  text-decoration: none;
}

.group-member-header-left a:hover {
  text-decoration: underline;
}

.group-member-header-right {
  color: #999;
}

.group-member-main {
  height: calc(100vh - 150px);
  overflow: scroll;
}

.group-member-main-container a {
  text-decoration: none;
  color: black;
}

.group-member-main-upper {
  margin-top: 10px;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
}

.group-member-main-upper-right-edit a {
  display: inline-block;
  font-size: smaller;
  padding: 5px 20px;
  border-radius: 20px;
  color: darkgreen;
  border: 1px solid darkgreen;
}

.group-member-main-upper-right-edit a:hover {
  color: white;
  background-color: darkgreen;
  border: 1px solid darkgreen;
}

.group-member-main-lower {
  padding: 0 10px;
  border-bottom: 1px solid #DDDDDD;
  display: flex;
}

.group-member-avator > img {
  width: 45px;
  height: 45px;
  border-radius: 10px;
  object-fit: cover;
  margin-right: 10px;
}

.group-member-main-lower:hover {
  text-decoration: underline;
}

.group-member-user-nickname {
  font-weight: bold;
}

.group-member-user-introduction {
  margin-bottom: 10px;
}

/* スマホ表示時 */
@media (max-width: 480px) {
  .group-show-main {
    padding-bottom: 50px;
  }

  .group-list-main {
    padding-bottom: 50px;
  }

  .group-list-header-group-search-input {
    width: 250px;
  }

  .group-form {
    width: 100vw;
  }

  .group-form-container {
    padding: 0 20px;
  }

  .group-member-main {
    padding-bottom: 50px;
  }
}