h1 {
  letter-spacing: 2px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

h2 {
  margin-bottom: 10px;
  color: #f05050;
  font-size: 14px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  margin: 0;
  padding: 0;
  font-size: 13px;
}

.chat-group-form {
  width: 980px;
  margin: 60px auto;
  padding: 40px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
}
.chat-group-form__errors {
  margin: 30px 0;
  padding: 20px 40px;
  border: 1px solid #ddd;
  border-radius: 2px;
  text-align: center;
}
.chat-group-form__label {
  display: block;
  line-height: 50px;
  font-weight: bold;
  text-align: right;
}
.chat-group-form__input {
  float: left;
  width: 80%;
  line-height: 30px;
  padding: 10px 15px;
  box-sizing: border-box;
}
.chat-group-form__action-btn {
  display: inline-block;
  padding: 12px 20px;
  color: #fff;
  background-color: #2F3E51;
  border: 0;
}
.chat-group-form__field {
  margin-top: 30px;
}
.chat-group-form__field:after {
  content: "";
  clear: both;
  display: block;
}
.chat-group-form__field--left {
  float: left;
  width: 30%;
  padding-right: 20px;
  padding-left: 20px;
  box-sizing: border-box;
}
.chat-group-form__field--right {
  float: right;
  width: 70%;
}

.chat-group-user {
  padding: 0 15px;
  line-height: 50px;
  font-size: 14px;
  border-bottom: 1px solid #ddd;
  width: 500px;
  margin: 0 auto;
}
.chat-group-user:after {
  content: "";
  clear: both;
  display: block;
}
.chat-group-user__name {
  float: left;
}
.chat-group-user__btn {
  float: right;
  display: inline-block;
  cursor: pointer;
}
.chat-group-user__btn--add {
  color: #2F3E51;
}
.chat-group-user__btn--remove {
  color: #f05050;
}

.chat-group-user__name a {
  text-decoration: none;
  color: #38aef0;
}

select {
  width: 500px;
  height: 50px;
}

.top-header {
  background-color: #434a54;
  height: 80px;
  width: 100%;
}

.field_with_errors {
  display: contents;
}


.group_lists{
  margin-top: 15px;
  width: 100%
}

.group-search{
  text-align: center;
  margin: 15px 0;
}

.search-input{
  width: 500px;
  height: 40px;
}

.search-btn{
  width: 100px;
  height: 40px;
  color: white;
  background-color: #2F3E51;
}

.group_list{
  padding: 0 200px;
  margin-bottom: 50px;
}

.group-container{
  margin: 30px 0;
}

.upper-group-container{
  display: flex;
}

.group-content-left{
  width: 150px;
  margin: 0 20px;
}

.participation-button{
  width: 150px;
  margin: 0 auto;
}

.participation, .no_participation{
  font-size: 20px;
  padding: 8px 30px;
  text-align: center;
}

.participation a{
  text-decoration: none;
  color: white;
}

.no_participation a{
  text-decoration: none;
  color: #2F3E51;
  font-weight: bold;
}

.participation{
  background-color: #2F3E51;
}

.no_participation{
  border: 2px solid #2F3E51;
  background-color: white;
}

.number_of_user{
  font-size: 15px;
  margin-left: 5px;
}

.group-content-right{
  margin-right: 25px;
  width: calc(100% - 150px);
}

.group__name{
  font-size: 30px;
}

.group__name a{
  text-decoration: none;
  color: black;
}

.lower-group-container{
  display: flex;
  margin: 0 25px;
  background-color: rgb(233, 233, 233);
  margin-top: 5px;
}

.user_name{
  width: 700px;
  font-size: 17px;
}

.user_name a{
  text-decoration: none;
  color: black;
}

.group_birthday{
  font-size: 15px;
  color: gray;
  display: flex;
  align-items: center;
}

.group-show{
  width: 100vw;
}

.group-show-name{
  text-align: center;
  margin: 15px 0;
  font-size: 30px;
  height: 50px;
  font-weight: bold;
}

.group-show-button{
  display: flex;
  justify-content: center;
  font-size: 20px;
  margin-top: 15px;
}

.group-show-edit{
  text-decoration: none;
  color: white;
  background-color: darkgreen;
  padding: 10px 20px;
  margin-right: 30px;
}

.group-show-delete{
  text-decoration: none;
  color: white;
  background-color: darkred;
  padding: 10px 20px;
}

.group-show-container{
  margin-top: 15px;
  padding: 0 150px ;
}

.group-show-content{
  font-size: 25px;
}

.group-show-builder a{
  text-decoration: none;
  color: black;
}

.group-show-upper{
  margin: 30px 200px;
  padding: 20px;
  background-color: rgb(233, 233, 233);
}
