.home-main-chat-header {
  height: 100px;
  background-color: #FAFAFA;
  border-bottom: 5px solid #DDDDDD;
  padding: 0 20px;
  font-size: 20px;
  font-weight: bold;
  line-height: 100px;
}

.follow-btn {
  display: inline-block;
  font-size: smaller;
  padding: 5px 20px;
  border-radius: 20px;
  width: 120px;
}

.following-btn {
  background-color: #38aef0;
  color: white;
  border: 1px solid #38aef0;
}

.following-button > .following-btn-hover {
  display: none;
  background-color: red;
  color: white;
  border: 1px solid red;
}

.following-button:hover .following-btn {
  display: none;
}

.following-button:hover .following-btn-hover {
  display: inline;
  cursor: pointer;
}

.unfollow-btn {
  border: 1px solid #38aef0;
  background-color: white;
  color: #38aef0;
  font-weight: bold;
}

.unfollow-btn:hover {
  cursor: pointer;
  background-color:#ddf3ff;
}

.follow-number {
  display: flex;
}

.following,
.follower {
  margin-right:20px;
}

.follow-list-header {
  height: 100px;
  background-color: #FAFAFA;
  border-bottom: 5px solid #DDDDDD;
}

.follow-list-header a {
  text-decoration: none;
  color: black;
}

.follow-list-header-upper-user {
  font-size: 20px;
  font-weight: bold;
  line-height: 50px;
  padding: 0 20px;
}

.follow-list-header-lower {
  display: flex;
  justify-content: space-around;
}

.follow-list-header-lower a {
  display: inline-block;
  padding: 5px 30px;
  font-weight: bold;
}

.following-list-header-lower-left a {
  color: #253141;
  border-bottom: 2px solid #253141;
}

.following-list-header-lower-left a:hover {
  color: white;
  background-color: #526f94;
}

.follow-list-header-lower-right a {
  color: #999;
}

.follow-list-header-lower-right a:hover {
  color: white;
  background-color: #526f94;
}

.follow-list-main {
  height: calc(100vh - 150px);
  overflow: scroll;
}

.follow-list-header-lower-left a {
  color: #999;
}

.follow-list-header-lower-left a:hover {
  color: white;
  background-color: #526f94;
}

.follower-list-header-lower-right a {
  color: #253141;
  border-bottom: 2px solid #253141;
}

.follower-list-header-lower-right a:hover {
  color: white;
  background-color: #526f94;
}
