.home-main-chat-header {
  height: 100px;
  background-color: #FAFAFA;
  border-bottom: 5px solid #DDDDDD;
  padding: 0 20px;
  font-size: 20px;
  font-weight: bold;
  line-height: 100px;
}

.follow-btn {
  display: inline-block;
  font-size: smaller;
  padding: 5px 20px;
  border-radius: 20px;
  width: 110px;
}

.following-btn {
  background-color: #38aef0;
  color: white;
  border: 1px solid #38aef0;
}

.following-btn:hover {
  cursor: pointer;
  background-color: #6fbeec;
  border: 1px solid #6fbeec;
}

.unfollow-btn {
  border: 1px solid #38aef0;
  background-color: white;
  color: #38aef0;
  font-weight: bold;
}

.unfollow-btn:hover {
  cursor: pointer;
  background-color:#ddf3ff;
}

.follow-number {
  display: flex;
}

.following,
.follower {
  margin-right:20px;
}

.follow-lists{
  margin: 20px 0;
}

.follow-container{
  padding: 0 160px;
}

.follow-list-title{
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

.follow-list a{
  text-decoration: none;
  color: black;
}

.follow-content{
  display: flex;
  padding: 10px 20px;
}

.follow-content-upper{
  width: 85%;
}

.follow-nickname{
  font-size: 20px;
}
