.wrapper {
  display: flex;
  margin-top: 50px;
}

.left-bar {
  background-color:#FAFAFA;
  width: 350px;
  height: calc(100vh - 50px);
  border-right: 2px solid #DDDDDD;
}

.left-bar-container a{
  border-radius: 20px;
}

.left-bar-container a:hover{
  color: white;
  background-color:#253141;
}

.left-bar-upper {
  padding-left: 65px;
}

.left-bar-upper a, .left-bar-group-title a{
  text-decoration: none;
  color: black;
  font-size: 20px;
  font-weight: bold;
  display: inline-block;
  padding: 5px 10px;
}

.left-bar-element {
  margin-top: 10px;
}

.left-bar-lower {
  background-color: #EEEEEE;
  margin: 10px 30px 0 30px;
  border-radius: 20px;
}

.left-bar-group-title {
  text-align: center;
  padding-top: 10px;
}

.left-bar-groups {
  height: calc(100vh - 370px);
  padding: 0 15px;
  overflow: scroll;
}

.left-bar-group {
  padding: 10px 0;
}

.left-bar-group-name a {
  text-decoration: none;
  color: black;
  font-size: 15px;
  display: inline-block;
  padding: 5px;
}

.main-chat {
  background-color: white;
  width: 750px;
}

.main-chat-header {
  height: 100px;
  background-color: #FAFAFA;
  border-bottom: 5px solid #DDDDDD;
  padding: 0 15px;
}

.main-chat-header a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  display: inline-block;
  padding: 5px;
}

.main-chat-header-upper {
  display: flex;
  justify-content: space-between;
  height: 50px;
}

.main-chat-header-upper a:hover {
  text-decoration: underline;
}

.main-chat-header-lower {
  display: flex;
  justify-content: space-around;
  margin-top: 5px;
}

.main-chat-header-lower a {
  border-radius: 20px;
  padding: 5px 10px;
}

.main-chat-header-lower-left a:hover {
  color: white;
  background-color:#253141;
}

.main-chat-header-lower-right a:hover {
  color: white;
  background-color: darkred;
}

.tweets {
  background-color: white;
  height: calc(100vh - 150px);
  overflow: scroll;
}

.tweet-container a {
  text-decoration: none;
  color: black;
}

.tweet {
  margin-top: 10px;
}

.tweet-upper {
  display: flex;
  padding: 0 10px;
}

.tweet-user a {
  font-weight: bold;
}

.tweet-user:hover, .tweet-group:hover{
  text-decoration: underline;
}

.tweet-date {
  color: #999;
  padding-left: 10px;
}

.tweet-group {
  padding: 0 10px;
}

.tweet-group a {
  color: #999;
}

.tweet-lower {
  padding: 0 10px;
  border-bottom: 1px solid #DDDDDD;
}

.tweet-content {
  margin-bottom: 10px;
}

.tweet-image {
  text-align: center;
}

.right-bar {
  background-color: #FAFAFA;
  width: calc(100vw - 1100px);
  height: calc(100vh - 50px);
  border-left: 2px solid #DDDDDD;
}

.right-bar-container a:hover{
  color: white;
  background-color:#253141;
}

.right-bar-group-search-form{
  display: flex;
  margin: 30px 20px;
}

.right-bar-group-search-input{
  padding:10px 20px;
  background-color: #EEEEEE;
  border-radius: 20px;
  border: 1px solid #EEEEEE;
  margin-right: 5px;
}

.right-bar-group-search-input:hover{
  background-color: white;
  border: 1px solid #253141;
}

.right-bar-group-search-btn{
  padding: 10px 25px;
  background-color: #EEEEEE;
  border-radius: 100px;
  color: #999;
  border: 1px solid #EEEEEE;
}

.right-bar-group-search-btn:hover {
  color: white;
  background-color:#253141;
}

.hidden{
  display: none;
}

.right-bar-lower {
  background-color: #EEEEEE;
  margin: 10px 30px 0 30px;
  border-radius: 20px;
  width: 270px;
}

.right-bar-title{
  text-align: center;
  font-weight: bold;
  padding: 10px 50px;
}

.right-bar-groups {
  height: calc(100vh - 210px);
  padding: 0 15px;
  overflow: scroll;
}

.right-bar-groups a {
  text-decoration: none;
  color: black;
  font-size: 15px;
  display: inline-block;
  padding: 5px;
  margin: 10px 0;
  border-radius: 20px;
}

.right-bar-group {
  display: flex;
}

.right-bar-group-icon{
  margin-right: 10px;
}

.form-input{
  display: flex;
  justify-content: center;
}

.form-tweet{
  width: 50vw;
  height: 100px;
  margin-top: 20px;
}

.tweet-form{
  display: flex;
  justify-content: space-around;
}

.tweet-form-right{
  margin-top: 15px;
}

.tweet-show-page{
  text-decoration: none;
}

.tweet-show-contents{
  padding: 0 160px;
  margin-bottom: 50px;
}

.tweet-show-upper{
  display: flex;
  justify-content: center;
  margin: 20px 0;
  font-size: 25px;
  font-weight: bold;
}

.tweet-show-upper-left{
  margin-right: 20px;
}

.tweet-show-upper-right a{
  text-decoration: none;
  color: black;
}

.tweet-show-button{
  display: flex;
  justify-content: center;
  font-size: 20px;
  margin-bottom: 20px;
}

.tweet-show-edit{
  text-decoration: none;
  color: white;
  background-color: darkgreen;
  padding: 10px 20px;
  margin-right: 30px;
}

.tweet-show-delete{
  text-decoration: none;
  color: white;
  background-color: darkred;
  padding: 10px 20px;
}

.tweet-show-group-name{
  font-size: 25px;
  margin-bottom: 10px;
}

.tweet-show-group-name a{
  text-decoration: none;
  color: black;
}

.tweet-show-content{
  font-size: 30px;
  margin-bottom: 20px;
  padding: 0 20px;
}

.tweet-show-date{
  text-align: right;
  font-size: 20px;
  color: gray;
}

.form-image {
  font-size: 15px;
  background-color: #2F3E51;
  color: white;
  padding: 10px 15px;
  width: 60px;
  margin: 5px 10px;
  text-align: center;
}

img {
  width: 400px;
  display: block;
  margin: auto;
}
