.wrapper {
  display: flex;
  margin-top: 50px;
}

.left-bar {
  background-color:#FAFAFA;
  width: 350px;
  height: calc(100vh - 50px);
  border-right: 2px solid #DDDDDD;
}

.left-bar-container a{
  border-radius: 20px;
}

.left-bar-container a:hover,
.right-bar-container a:hover,
.right-bar-group-search-btn:hover {
  color: white;
  background-color:#253141;
}

.left-bar-upper {
  padding-left: 65px;
}

.left-bar-upper a, .left-bar-group-title a{
  text-decoration: none;
  color: black;
  font-size: 20px;
  font-weight: bold;
  display: inline-block;
  padding: 5px 10px;
}

.left-bar-element {
  margin-top: 10px;
}

.left-bar-lower {
  background-color: #EEEEEE;
  margin: 10px 30px 0 30px;
  border-radius: 20px;
}

.left-bar-group-title {
  text-align: center;
  padding-top: 10px;
}

.left-bar-groups {
  height: calc(100vh - 370px);
  padding: 0 15px;
  overflow: scroll;
}

.left-bar-group {
  padding: 10px 0;
}

.left-bar-group-name a {
  text-decoration: none;
  color: black;
  font-size: 15px;
  display: inline-block;
  padding: 5px;
}

.main {
  background-color: white;
  width: 750px;
}

.main-chat-header {
  height: 100px;
  background-color: #FAFAFA;
  border-bottom: 5px solid #DDDDDD;
  padding: 0 15px;
}

.main-chat-header a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  display: inline-block;
  padding: 5px;
}

.main-chat-header-upper {
  display: flex;
  justify-content: space-between;
  height: 50px;
}

.main-chat-header-upper a:hover,
.tweet-user:hover,
.tweet-group:hover {
  text-decoration: underline;
}

.main-chat-header-lower {
  display: flex;
  justify-content: space-around;
  margin-top: 5px;
}

.main-chat-header-lower-left a {
  display: inline-block;
  font-size: smaller;
  padding: 5px 20px;
  border-radius: 20px;
  color: #253141;
  border: 1px solid #253141;
}

.main-chat-header-lower-left a:hover {
  color: white;
  background-color: #253141;
  border: 1px solid #253141;
}

#group-quit-open {
  font-size: smaller;
  font-weight: bold;
  padding: 5px 20px;
  border-radius: 20px;
  color: darkred;
  border: 1px solid darkred;
}

#group-quit-open:hover {
  color: white;
  background-color: darkred;
  border: 1px solid darkred;
  cursor: pointer;
}

.tweets {
  background-color: white;
  height: calc(100vh - 150px);
  overflow: scroll;
}

.tweet-container a {
  text-decoration: none;
  color: black;
}

.tweet {
  margin-top: 10px;
}

.tweet-upper {
  display: flex;
  padding: 0 10px;
}

.tweet-upper-avator > img {
  width: 45px;
  height: 45px;
  border-radius: 10px;
  object-fit: cover;
  margin-right: 10px;
}

.tweet-upper-right-upper {
  display: flex;
}

.tweet-user a {
  font-weight: bold;
}

.tweet-date {
  color: #999;
  padding-left: 10px;
}

.tweet-group a {
  color: #999;
}

.tweet-lower {
  padding: 0 10px;
  border-bottom: 1px solid #DDDDDD;
}

.tweet-content {
  margin-bottom: 5px;
}

.tweet-image {
  text-align: center;
}

.right-bar {
  background-color: #FAFAFA;
  width: calc(100vw - 1100px);
  height: calc(100vh - 50px);
  border-left: 2px solid #DDDDDD;
}

.right-bar-group-search-form{
  display: flex;
  margin: 30px 20px;
}

.right-bar-group-search-input{
  padding:10px 20px;
  background-color: #EEEEEE;
  border-radius: 20px;
  border: 1px solid #EEEEEE;
  margin-right: 5px;
}

.right-bar-group-search-input:hover{
  background-color: white;
  border: 1px solid #253141;
}

.right-bar-group-search-btn{
  padding: 10px 25px;
  background-color: #EEEEEE;
  border-radius: 100px;
  color: #999;
  border: 1px solid #EEEEEE;
}

.hidden{
  display: none;
}

.right-bar-lower {
  background-color: #EEEEEE;
  margin: 10px 30px 0 30px;
  border-radius: 20px;
  width: 270px;
}

.right-bar-title{
  text-align: center;
  font-weight: bold;
  padding: 10px 50px;
}

.right-bar-groups {
  height: calc(100vh - 210px);
  padding: 0 15px;
  overflow: scroll;
}

.right-bar-groups a {
  text-decoration: none;
  color: black;
  font-size: 15px;
  display: inline-block;
  padding: 5px;
  margin: 10px 0;
  border-radius: 20px;
}

.right-bar-group {
  display: flex;
}

.right-bar-group-icon{
  margin-right: 10px;
}

.tweet-form {
  width: 750px;
  margin: 50px auto 0;
  height: calc(100vh - 50px);
  overflow: scroll;
  background-color: #FAFAFA;
  padding-bottom: 15px;
}

.tweet-form-container {
  padding: 0 100px;
}

.tweet-form-wrapper {
  margin-top: 30px;
  padding: 10px;
  border: 1px solid #253141;
  border-radius: 20px;
  background-color: white;
}

.tweet-form-upper-input {
  width: 100%;
  height: 180px;
  padding: 5px;
  border: none;
}

.tweet-form-lower {
  padding-top: 15px;
  display: flex;
  justify-content: space-between;
}

.tweet-form-lower-left-icon,
.tweet-form-submit-btn {
  border: 1px solid #253141;
  background-color: #253141;
  padding: 5px 15px;
  border-radius: 20px;
  font-size: large;
  color: white;
}

.tweet-form-lower-left-icon:hover,
.tweet-form-submit-btn:hover {
  cursor: pointer;
  background-color: #526f94;
  border: 1px solid #526f94;
}

.input-text-count {
  height: 30px;
  text-align: right;
}

.tweet-show-container {
  padding-top: 10px;
  height: calc(100vh - 50px);
  overflow: scroll;
}

.tweet-show-container a {
  text-decoration: none;
}

.tweet-show-upper,
.tweet-show-lower {
  padding: 0 10px;
}

.tweet-show-upper,
.tweet-show-upper-right {
  display: flex;
  justify-content: space-between;
}

.tweet-show-upper-right a {
  display: inline-block;
  font-size: smaller;
  padding: 5px 20px;
  border-radius: 20px;
}

.tweet-show-upper-right-edit a {
  margin-right: 10px;
  color: darkgreen;
  border: 1px solid darkgreen;
}

.tweet-show-upper-right-edit a:hover {
  color: white;
  background-color: darkgreen;
  border: 1px solid darkgreen;
}

#tweet-delete-open {
  font-size: smaller;
  padding: 5px 20px;
  border-radius: 20px;
  color: darkred;
  border: 1px solid darkred;
  position: relative;
}

#tweet-delete-open:hover {
  color: white;
  background-color: darkred;
  border: 1px solid darkred;
  cursor: pointer;
}

#tweet-delete-modal {
  display: none;
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-color: rgb(128, 128, 128, 0.5);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.tweet-delete-confirmation {
  width: 400px;
  height: 200px;
  background-color: white;
  border-radius: 20px;
  text-align: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.tweet-delete-sentence {
  padding: 50px 0;
  font-weight: bold;
}

.tweet-delete-btn {
  display: flex;
  justify-content: space-around;
}

#tweet-delete-btn-cancel {
  font-size: smaller;
  padding: 5px 20px;
  border-radius: 20px;
  color:#253141;
  border: 1px solid #253141;
}

#tweet-delete-btn-cancel:hover {
  color: white;
  background-color: #253141;
  border: 1px solid #253141;
  cursor: pointer;
}

.tweet-delete-btn-action a {
  text-decoration: none;
  font-size: smaller;
  padding: 5px 20px;
  border-radius: 20px;
  color: darkred;
  border: 1px solid darkred;
}

.tweet-delete-btn-action a:hover {
  color: white;
  background-color: darkred;
  border: 1px solid darkred;
}

.tweet-show-lower {
  border-bottom: 1px solid #DDDDDD;
  margin-bottom: 50px;
}

.tweet-show-lower-upper {
  display: flex;
}

.tweet-show-avator > img {
  width: 45px;
  height: 45px;
  border-radius: 10px;
  object-fit: cover;
  margin-right: 10px;
}

.tweet-show-lower-user a {
  color: black;
  font-weight: bold;
}

.tweet-show-lower-user a:hover,
.tweet-show-lower-group a:hover {
  text-decoration: underline;
}

.tweet-show-lower-group a,
.tweet-show-lower-date {
  color: #999;
}

.tweet-show-lower-content {
  font-size: larger;
  font-weight: bold;
}

.tweet-show-lower-image {
  width: 80%;
  padding: 10px 0;
}

.tweet-show-lower-date {
  margin-bottom: 5px;
}

.form-image {
  font-size: 15px;
  background-color: #2F3E51;
  color: white;
  padding: 10px 15px;
  width: 60px;
  margin: 5px 10px;
  text-align: center;
}

img {
  width: 400px;
  display: block;
  margin: auto;
}
