.account-page .field-label .field_with_errors {
  display: inline-block;
  color: #d65f4c;
  font-weight: 400;
}
.account-page .field-input .field_with_errors {
  position: relative;
}
.account-page .field-input .field_with_errors:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 5px;
  background-color: #d65f4c;
}

#error_explanation {
  margin: 20px 0;
  padding: 20px 30px;
  border: 1px solid #ddd;
  border-radius: 2px;
}
#error_explanation h2 {
  margin-bottom: 10px;
  color: #d65f4c;
  font-size: 14px;
}
#error_explanation ul {
  margin: 0;
  padding-left: 17px;
  list-style: square;
}
#error_explanation li {
  margin: 0;
  padding: 0;
  font-size: 13px;
}

.account-page {
  width: 750px;
  height: calc(100vh - 50px);
  overflow: scroll;
  margin: 50px auto 0;
  background-color: #FAFAFA;
}

.account-page-title {
  font-weight: bold;
  font-size: larger;
  text-align: center;
  padding: 20px 0;
}

.account-page-container {
  padding: 0 100px 50px;
}

.account-page-wrapper {
  padding: 10px;
  border: 1px solid #253141;
  border-radius: 20px;
  background-color: white;
}

#avator-list > div > img,
.human-dummy,
.accont-page-input-avator-edit {
  width: 100px;
  height: 100px;
  border-radius: 10px;
}

#avator-list > div > img,
.accont-page-input-avator-edit {
  object-fit: cover;
}

#avator-list > div > img:hover,
.human-dummy:hover {
  cursor: pointer;
}

.account-page-input-avator-btn a {
  text-decoration: none;
  color: #999;
  font-size: small;
  display: block;
  text-align: center;
  margin-top: 5px;
}

.account-page-input-avator-btn a:hover {
  color: darkred;
}

.field-input {
  margin: 20px 0;
}

.field-input input {
  width: 100%;
  padding: 5px;
  border: none;
  border-bottom: 1px solid #999;
}

.introduction-area {
  width: 100%;
  height: 180px;
  padding: 5px;
}

.account-page-btn {
  display: flex;
  justify-content: space-between;
}

.account-page-submit-btn {
  border: 1px solid #253141;
  background-color: #253141;
  padding: 5px 15px;
  border-radius: 20px;
  font-size: large;
  color: white;
}

.account-page-submit-btn:hover {
  cursor: pointer;
  background-color: #526f94;
  border: 1px solid #526f94;
}

.field-label {
  font-weight: bold;
  color: #999;
}

.user-show-main {
  height: calc(100vh - 50px);
  overflow: scroll;
}

.user-show-header {
  padding: 10px 20px 0 20px;
  background-color: #FAFAFA;
  border-bottom: 5px solid #DDDDDD;
}

.user-show-header a {
  text-decoration: none;
  color: black;
}

.user-show-header-upper {
  display: flex;
  justify-content: space-between;
}

.user-show-header-upper-right-edit a {
  display: inline-block;
  font-size: smaller;
  padding: 5px 20px;
  border-radius: 20px;
  color: darkgreen;
  border: 1px solid darkgreen;
}

.user-show-header-upper-right-edit a:hover {
  color: white;
  background-color: darkgreen;
  border: 1px solid darkgreen;
}

.user-show-header-center {
  display: flex;
}

.user-show-avator > img {
  width: 70px;
  height: 70px;
  border-radius: 10px;
  object-fit: cover;
  margin-top: 5px;
  margin-right: 10px;
}

.user-show-nickname {
  font-size: larger;
  font-weight: bold;
}

.user-show-header-lower,
.user-show-header-lower-group {
  display: flex;
  justify-content: center;
}

.user-show-header-lower a {
  color: #999;
  font-weight: bold;
}

.user-show-header-lower a:hover {
  color: black;
  text-decoration: underline;
}

.user-show-header-lower-group-participation {
  margin-right: 20px;
}

.user-group-list-header {
  height: 100px;
  background-color: #FAFAFA;
  border-bottom: 5px solid #DDDDDD;
}

.user-group-list-header a {
  text-decoration: none;
  color: black;
}

.user-group-list-header-upper {
  font-size: 20px;
  font-weight: bold;
  line-height: 50px;
  padding: 0 20px;
}

.user-group-list-header-lower {
  display: flex;
  justify-content: space-around;
}

.user-group-list-header-lower a {
  display: inline-block;
  padding: 5px 30px;
  font-weight: bold;
}

.user-group-list-header-lower-left a {
  color: #253141;
  border-bottom: 2px solid #253141;
}

.user-group-list-header-lower-left a:hover {
  color: white;
  background-color: #526f94;
}

.user-group-list-header-lower-right a {
  color: #999;
}

.user-group-list-header-lower-right a:hover {
  color: white;
  background-color: #526f94;
}

.user-group-list-main {
  height: calc(100vh - 150px);
  overflow: scroll;
}

.owner-group-list-header-lower-left a {
  color: #999;
}

.owner-group-list-header-lower-left a:hover {
  color: white;
  background-color: #526f94;
}

.owner-group-list-header-lower-right a {
  color: #253141;
  border-bottom: 2px solid #253141;
}

.owner-group-list-header-lower-right a:hover {
  color: white;
  background-color: #526f94;
}

/* スマホ表示時 */
@media (max-width: 480px) {
  .user-show-main {
    padding-bottom: 50px;
  }
}